@import '../node_modules/bootstrap/scss/bootstrap';

@import '../node_modules/chessground/assets/chessground.base.css';
@import '../node_modules/chessground/assets/chessground.brown.css';
@import '../node_modules/chessground/assets/chessground.cburnett.css';

#chessground {
    width: max(60vh, 40vw);
    height: max(60vh, 40vw);
}

.indicator {
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;

    border: 0.2rem solid #000;

    &.black {
        background: #000;
    }
}

.capitalize {
    text-transform: capitalize;
}
